{% extends 'base.html.twig' %}

{% block title %}Boutique!{% endblock %}

{% block body %}

<style>
    body{
        background-image: url(../img/porte.jpg) ;
        background-size: cover ;
        background-color: black ;
    }
</style> 

<h1>Contactez Nous!!!</h1>

	
	
{% endblock %}