
{% extends 'base.html.twig' %}

{% block title %}formContact{% endblock %}

{% block body %}

<style>
    
</style>

<h1>💥 WARNING REMPLIR LE FORMULAIRE 💥</h1>

<div class="card">
    {{form(formContact)}}
</div>
	
	
{% endblock %}