
{% extends 'base.html.twig' %}

{% block title %}admin{% endblock %}

{% block body %}
    <h1>ADMIN</h1>

<a href={{ path('produits_afficher') }}>Produits</a>
<br>
<a href={{ path('contacts_afficher') }}>Contacts</a>
<br>
<a href={{ path('categories_afficher') }}>Categories</a>

<br>


{% endblock %}



