
{% extends 'base.html.twig' %}

{% block title %}formContact{% endblock %}

{% block body %}

<style>
    
</style>

<h1>💥 WARNING TU VAS EXPLOSER UN FORMULAIRE  💥</h1>

<div class="card">
    {{form(formCont)}}
</div>
	
	
{% endblock %}